<h2>The Seaman's Brain</h2>

<p>
    BACS 350 Home Page
</p>

<ul>
    <li>
        <a href="team.php">Project Team</a>
    </li>
    <li>
        <a href="demo">Code Demos</a>
    </li>
    <li>
        <a href="pattern">Design Patterns</a>
    </li>
    <li>
        <a href="project">Projects</a>
    </li>
    <li>
        <a href="lib/pagelog.php">System Log</a>
    </li>
    <li>
        <a href="lib/phpinfo.php">PHP Info</a>
    </li>
    <li>
        <a href="https://github.com/Mark-Seaman/UNC-BACS350-Demo/tree/master/bacs350">
            Github Repo - BACS 350 Source Code
        </a>
    </li>
    <li>
        <a href="/">BACS 350 WordPress Blog</a>
    </li>
</ul>
