<h2>Add User Page (UC-4)</h2>

<div class="card">
    <div class="card-header">
        Add a New User
    </div>
    <div class="card-body">
        <form action="{{ next }}" method="post">

            <table class="table table-hover">
                <tr>
                    <td style="width:30em"><label>Email:</label></td>
                    <td><input type="Email" name="Email" class="form-text"></td>
                </tr>
                <tr>
                    <td><label>Password:</label></td>
                    <td><input type="password" name="Password" class="form-text"></td>
                </tr>
                <tr>
                    <td><label>Inn Name:</label></td>
                    <td><input type="text" name="InnName" class="form-text"></td>
                </tr>
                <tr>
                    <td><label>ViewID:</label></td>
                    <td><input type="text" name="ViewID" class="form-text"></td>
                    <!--
                    <td><label>UserType:</label></td>
                    <td><input type="radio" name="UserTypeID" value="2" class="custom-radio" required>&nbsp;Account Manager</td>
                    <td><input type="radio" name="UserTypeID" value="1" class="custom-radio" required>&nbsp;Inn Owner</td>
                    -->

                </tr>
                <tr>

                    <td><label>UserType:</label></td>
                    <td><input type="radio" name="UserTypeID" value="2" class="custom-radio" required>&nbsp;Account Manager</td>
                    <td><input type="radio" name="UserTypeID" value="1" class="custom-radio" required>&nbsp; Inn Owner</td>


                </tr>


                <tr>
                    <td><input type="submit" value="Register" class="button"></td>
                </tr>
            </table>

            <input type="hidden" name="action" value="register">
            <input type="hidden" name="next" value="{{ next }}">

        </form>
    </div>
</div>
